.img {
   width: 100px;
   height: 100px;
   margin: 50px;
    border-radius: 10px;
}

input {
    padding: 0.3em;
    margin: 10px;
    border-radius: 2px;
    background-color: var(--primary-color);
    border: 1px solid;
}