.container {
    text-align: center;
}

.img {
    width: 250px;
    height: 250px;
    margin: 50px;
    border-radius: 10px;
}

select {
    padding: 0.6em;
    margin: 10px;
    border-radius: 2px;
}